# Class Factory
VOTER_FACTORY=0x700B40384d91Ec48D404f9cFf60195940dB734b0
# Voter class
VOTER_CLASS=0x83F5593B1f5561295A623f2639671257959A585c
# Governance Builder
BUILDER_ADDRESS=0x50Bee8889D2c52D49b19e7728242186D444e3f1D
# Build Transaction Hash
BUILD_TX=0xad1cfde379d9336da074b02c87b6d2194000d1d6b2416aae2e6f0dd48e130bca

# Address of Payment contract and transaction details
VAULT_CONTRACT=0xf69791441b9273cE12a1e35a9F2218093D5eb762
VAULT_VALUE=
VAULT_SIGNATURE=pay(address,uint256)
VAULT_CALLDATA=0x

# Path to ABI Json
ABI_PATH=abi
# Location of RPC Endpoint
RPC_URL=
# PRIVATE KEY of wallet for gas payment on Görli testnet
PRIVATE_KEY=
# Address of ERC-721 Project for proposal, must be deployed on Görli and above wallet must be an owner
TOKEN_CONTRACT=0xE3C82840FA0605a424Cc1ea6BC013D12909E4e69